extends layout 
 
block content 
  h1= title 
 if(toShow==null)
     h2 No instance to show 
  else
  form(id='AppleForm', action="/resource/Apple", method="POST") 
    div.form-group 
        label.AppleAttr(for='Apple_colour') Apple colour 
        input#Apple_colour(type='string', name='Apple_colour') 
    div.form-group 
        label.AppleAttr(for='quantity') Apple quantity 
        input#Apple_quantity(type='number',name='Apple_quantity') 
    div.form-group 
        label.AppleAttr(for='price') Apple price 
        input#Apple_price(type='number', name='price') 
    input(type="submit") 
 
  script. 
    document.forms['AppleForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });