extends layout 
 
block content 
  h1= title 
  - let Appleid = toShow._id 
  - let Apple_colour  = toShow.Apple_colour
  - let Apple_quantity = toShow.Apple_quantity
  - let Apple_price  = toShow.Apple_price
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{Appleid} 
  - let actionid = "/resource/Apple/" + Appleid 
  form(id='AppleForm', action= actionid, method="PUT") 
    div.form-group 
        label.AppleAttr(for='Apple_colour') Apple_colour
        input#Apple_colour(type='string', name='Apple_colour', value= Apple_colour ) 
    div.form-group 
        label.AppleAttr(for='price') Apple_price
        input#Apple_price(type='number', name='price', value= Apple_price ) 
    div.form-group 
        label.AppleAttr(for='quantity') Apple_quantity 
        input#Apple_quantity(type="number")(type='number', name='quantity', value= Apple_quantity   ) 
    input(type="submit") 
 
  script. 
    document.forms['AppleForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });