body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.AppleAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 
.ApplessAttr { 
  background-color: rgb(21, 76, 159); 
  width: 120px; 
  color:chartreuse;
  border-style: solid;
} 

